/*左部分*/
#left
{
    -fx-background-color: #7b7b7b;
}
/*头像*/
#headPortraitChat
{
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-size: 40px 40px;
    -fx-background-color:transparent;
    -fx-background-position: center center;
    -fx-background-image: url('/org/umiskky/view/Image/head/1.jpg');
}
/*设置按钮*/
#settings
{}
#settings:hover,#settings:pressed
{
    -fx-background-color: #929292;
    -fx-cursor: hand;
}
/*聊天选择*/
#chatSelect
{}
#chatSelect:hover
{
    -fx-background-color: #929292;
    -fx-cursor: hand;
}
/*好友选择*/
#friendSelect
{}
#friendSelect:hover
{
    -fx-background-color: #929292;
    -fx-cursor: hand;
}

/*---------------------------------------------------------------------*/
/*中间部分*/
/*搜索框*/
#search
{
    -fx-background-position: 8px center;
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgb(200,200,200);
}

/*好友列表*/
#friendList
{
    -fx-background-color: transparent;
}

.outline
{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-style: none;
    -fx-background-image: url('/org/umiskky/view/Image/icon/outline.png');
    -fx-background-size: 10px 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.online
{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-style: none;
    -fx-background-image: url('/org/umiskky/view/Image/icon/online.png');
    -fx-background-size: 10px 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.ListItem
{
    -fx-background-color:transparent;
    -fx-text-fill:black;
}

.chosen,.chosen:hover,.chosen:pressed
{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/*------------------------------------------------------------------*/
/*右部分*/
/*退出*/
#quit
{
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
/*提交*/
#submit
{
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 30);
    -fx-border-color: #9c9c9c;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}
/*emoji*/
#emoji
{
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
/*file*/
#file
{
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

/*聊天框内的头像*/
.head{

    -fx-background-radius: 1px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px 20px;
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-image: url('/org/umiskky/view/Image/head/0.jpg');
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color:transparent;
}

/*聊天框内最外层pane*/
.pane{
    -fx-background-radius: 0px;
    -fx-background-color:rgba(255,255,255,0);
}

/*聊天框内对象的聊天气泡*/
.lefttext{
    -fx-control-inner-background:#feffd3;
    -fx-control-inner-radius:5px;
    -fx-background-color: #feffd3;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #feffd3;
    -fx-font-size: 15px;
    -fx-font-family: "Forte";
    -fx-font-style: italic;
    -fx-text-fill:black;
}

.leftarrow{
    -fx-background-image: url('/org/umiskky/view/Image/icon/left.png');
    -fx-background-size: 5px 5px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

/*聊天框内自己的气泡*/
.righttext{
    -fx-control-inner-background:#7dc5eb;
    -fx-control-inner-radius:5px;
    -fx-background-color: #7dc5eb;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #7dc5eb;
    -fx-font-size: 15px;
    -fx-font-family: "Forte";
    -fx-font-style: italic;
    -fx-text-fill:black;
}

.rightarrow{
    -fx-background-image: url('/org/umiskky/view/Image/icon/right.png');
    -fx-background-size: 5px 5px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}
